---
pagination:
  data: languages.codes
  size: 1
  alias: langCode
permalink: "{{ langCode }}/indices/persons/index.html"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ 'persons' | t }}"
---

{% set documentBasePath = "/" + page.lang + "/seals" %}
{% set indexData = indices.persons %}
{% include "partials/index-table.njk" %}
