---
layout: layouts/base.njk
permalink: "{{ item.lang }}/bibliography/{{ item.bibRef[item.lang] or item.bibRef.en }}/index.html"
eleventyComputed:
    title: "{{ item.shortCitation[item.lang] or item.shortCitation.en }}"
---
{% set langCode = item.lang %}
{% include "partials/bibliography-item.njk" %}
