---
pagination:
  data: languages.codes
  size: 1
  alias: langCode
permalink: "{{ langCode }}/seals/index.html"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ 'sealsPageTitle' | t }}"
---

{% set sortedSeals = collections["seals-" + page.lang] | sort(false, false, "data.sortKey") %}

<p class="list-summary">{{ sortedSeals | length | default(0) }} {{ "sealsIntro" | t }}</p>

<table class="data-table seal-table">
    <thead>
    <tr>
        <th>{{ "documentId" | t }}</th>
        <th>{{ "title" | t }}</th>
        <th>{{ "category" | t }}</th>
        <th>{{ "dating" | t }}</th>
    </tr>
    </thead>
    <tbody>
    {% if sortedSeals and sortedSeals | length > 0 %}
        {% for seal in sortedSeals %}
            <tr onclick="window.location='{{ seal.url }}'" style="cursor:pointer">
                <td class="seal-id"><a href="{{ seal.url }}">{{ seal.data.documentId }}</a></td>
                <td><a href="{{ seal.url }}">{{ seal.data.title }}</a></td>
                <td>{{ seal.data.category }}</td>
                <td>{{ seal.data.origDate }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4">{{ "noSeals" | t }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
