<footer>
    <div class="footer-inner">
        <p>Powered by <a href="https://github.com/CCeH" target="_blank" rel="noopener">EFES-NG</a> &middot; <a href="https://sigidoc.cceh.uni-koeln.de" target="_blank" rel="noopener">SigiDoc</a></p>
    </div>
</footer>
